---
import GitHub from "./icons/GitHub.astro"
import Js from "./icons/Js.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import React from "./icons/React.astro"
import Css from "./icons/Css.astro"
import Html from "./icons/Html.astro"
import Tailwind from "./icons/Tailwind.astro"
import socket from "./icons/socket.astro"
import Nodejs from "./icons/node.astro"
import Typescript from "./icons/Typescript.astro"
import Arrow from "./icons/arrow.astro"

const TAGS = {
  NEXT: {
    name: "React.js",
    class: "bg-black text-white",
    icon: React,
  },
  TYPESCRIPT: {
    name: "Typescript",
    class: "bg-blue-950 text-white",
    icon: Typescript,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-[#003159] text-white",
    icon: Js,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#264de4] text-white",
    icon: Css,
  },
  HTML: {
    name: "HTML",
    class: "bg-green-800 text-white",
    icon: Html,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-blue-700 text-white",
    icon: Tailwind,
  },
  SOCKETIO: {
    name: "Socket.io",
    class: "bg-black text-white",
    icon: socket,
  },
  NODEJS: {
    name: "Node.js",
    class: "bg-gray-900 text-white",
    icon: Nodejs,
  },
}
const PROJECTS = [
  {
    title: "GameGen - A video game library",
    description:
      "A video game library with thousands of games. Created with primarely with React and Javascript and CSS.",
    link: "https://luissoriano.dev/gamesearch/",
    github: "https://github.com/IZLuisZI/Search-game-demo",
    image: "/projects/gamesearch.webp",
    tags: [TAGS.NEXT, TAGS.JAVASCRIPT, TAGS.CSS],
  },
  {
    title: "Best Buy - Stock checker",
    description:
      "Best Buy Stock Checker is a web application that allows users to check the stock status of products at Best Buy. It uses a server-side script to scrape product data from the Best Buy website and a React-based front-end to display the results. Used typescript for the backend and React for the frontend.",
    
    github: "https://github.com/IZLuisZI/CheckStock",
    image: "/projects/bestbuy.webp",
    tags: [TAGS.NEXT,TAGS.TYPESCRIPT,TAGS.NODEJS ,TAGS.TAILWIND ],
  }
  ,
  {
    title: "Quiz App",
    description:
      "An app where you can take quizzes and see your score. Created with React, and Tailwind CSS.",
    github: "https://github.com/IZLuisZI/Quiz-test",
    image: "/projects/Quizapp.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND ],
  },{
    title: "Frontend Mentor Challenges - React shopping cart",
    description:
      "A shopping cart created with React and Tailwind CSS. This is a challenge from Frontend Mentor.",
    link: "https://luissoriano.dev/ecommerce-product-page-main/",
    github: "https://github.com/IZLuisZI/ecommerce-product-page-main",
    image: "/projects/FrontendMentorCart.webp",
    tags: [TAGS.NEXT,TAGS.TAILWIND,  ],
  },
  {
    title: "Chat App",
    description:
      "A chat app where you can chat with friends. Created using socket.io, Tailwind CSS and a small Node js server for the backend.",
    github: "https://github.com/IZLuisZI/chat-app",
    image: "/projects/Chatapp.webp",
    tags: [ TAGS.HTML, TAGS.TAILWIND, TAGS.SOCKETIO, TAGS.NODEJS],
  },
  
]
---

<div class="flex flex-col gap-y-16 z-10">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="project descrition" class="object-cover object-top z-10 w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 items-center rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
<div class="flex text-2xl font-bold items-center gap-2  "><span class="hover:underline "> <a href="/pro/"> See All</a></span> <Arrow /></div>
</div>



